/* Mobile Menu */

/* Not desktop */
@media only screen and (max-width: 768px) {
  /* Mobile Menu */
  #mobile-menu {
    display: block;
    transition: 1s;
    position: absolute;
    top: -250px;
    width: 100%;
    z-index: 999;
  }

  #mobile-menu div {
    width: 100%;
    display: block;
    background-color: #51a94b;
    margin: 0 auto;
    padding: 5px 10px;
    z-index: 999;
  }

  .mobile-menu-item {
    height: 40px;
    border-bottom-width: 1px;
    border-bottom-color: #eeeeee;
    border-bottom-style: solid;
  }

  #mobile-menu a {
    color: #f2fde4;
    font-weight: bolder;
  }

  .mobile-menu-item:hover {
    cursor: pointer;
  }

  .mobile-menu-item svg {
    float: left;
  }

  .mobile-menu-item .mobile-menu-name {
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 10px;
  }

  #menu-toggle {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
  }

  #menu-toggle:hover {
    cursor: pointer;
  }

  #mobile-menu-collapse {
    margin-top: 10px;
    float: right;
    visibility: hidden;
  }
  #mobile-menu-collapse:hover {
    cursor: pointer;
  }
}
