input[type="password"] {
  width: 400px;
  height: 50px;
  padding: 10px;
  background: #ffffff;
  border: none;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
  border-bottom-style: solid;
  border-radius: 3px;
  margin-bottom: 10px;
}

input[type="password"]:focus {
  outline: none;
  border-bottom-color: #51a94b;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

input[type="password"]::placeholder {
  color: #c0c0c0;
  padding-left: 30px;
  font-weight: bolder;
}

input[type="password"]:disabled {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  border-left-color: #51a94b;
  border-left-width: 2px;
  border-left-style: solid;
  margin-bottom: 30px;
}

input[type="password"]:disabled::placeholder {
  color: #51a94b;
  padding-left: 30px;
  font-weight: bolder;
}

.password-input-container {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.password-input-container .icon {
  position: absolute;
  top: 13px;
  left: 10px;
}
