input[type="password"] {
  height: 50px;
  width: 100%;
  padding: 10px;
  background: #ffffff;
  border: none;
  border-bottom-width: 1px;
  border-bottom-color: #eeeeee;
  border-bottom-style: solid;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-left: 50px;
}

input[type="password"]:focus {
  outline: none;
  border-bottom-color: #51a94b;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

input[type="password"]::placeholder {
  color: #c0c0c0;
  font-weight: bolder;
}

input[type="password"]:disabled {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  border-left-color: #51a94b;
  border-left-width: 2px;
  border-left-style: solid;
  margin-bottom: 30px;
  padding-left: 40px;
}

input[type="password"]:disabled::placeholder {
  color: #51a94b;
  font-weight: bolder;
}

.password-input-container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.password-input-container .icon {
  min-width: 50px;
  text-align: center;
  margin-right: -50px;
  margin-top: 13px;
  z-index: 1;
}
