[class*="col-"] {
  text-align: center;
  float: left;
}

[class*="col-"] .card {
  padding: 20px;
}

[class*="col-"] .card img {
  width: 250px;
}

[class*="col-"] .card .title {
  font-size: 1.5rem;
  margin: 20px auto 0px auto;
}

[class*="col-"] .card .info {
  width: 70%;
  margin-top: 20px;
  margin: 10px auto 50px auto;
}

.error {
  color: rgb(255, 0, 0);
  font-weight: bolder;
}

.success {
  color: green;
  font-weight: bolder;
}
