[class*="col-"] {
  text-align: center;
  float: left;
}

[class*="col-"] .card {
  padding: 20px;
}

[class*="col-"] .card .title {
  font-size: 1.5rem;
  margin: 0 auto;
}

[class*="col-"] .card .info {
  width: 70%;
  margin-top: 20px;
  margin: 0 auto 50px auto;
}
